<ion-header-bar class="bar bar-stable bar-subheader">
    <h2 class="title"> Appointments </h2>
    <button class="button ion-plus button-positive" ui-sref="^.add"></button>
</ion-header-bar>
<ion-content class="padding">
    <div class="card">
        <div class="container">
            <div class="list">
                <div class="item top" ng-repeat="apt in appointmentInfo | orderBy:'date' :true">
                    <div class="row item-text-wrap">
                        <div class="col item-text-wrap" style="float:left" ng-model="apt">
                            <p>{{apt.name}}</p>
                            <p> {{apt.location}}</p>
                            <p>{{apt.address}}</p>
                            <p>{{apt.description}}</p>
                        </div>
                        <div class="col" style="text-align:center float:right">
                            <p class="bigfont">{{apt.date}}</p>
                            <p class="biggerfont top">{{apt.time}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
