
    <ion-header-bar class="bar bar-stable bar-subheader">
          <h2 class="title"> New Contact </h2>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="card">
            <form novalidate class="simple-form">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Contact Name</span>
                    <input type="text" placeholder="John" ng-model="contact.name">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Contact Number</span>
                    <input type="tel" placeholder="xxx-xxx-xxxx" ng-model="contact.phone">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Key Word</span>
                    <input type="text" placeholder="Doctor" ng-model="contact.info">
                </label>
            </div>
            <div class="row">
            <div class="col">
            <button class="button button-stable button-block" ui-sref="^.list">Cancel</button>
            </div>
            <div class="col">
            <button class="button button-positive button-block" ng-click="saveContact(contact)">
                Save
            </button>
            </div>
            </form>
        </div>
    </ion-content>

