<ion-content class="padding">
    <div class="card" style="margin-top:50px">
        <div class="container">
            <div class="list">
                <label class="item item-input">
                    <input type="number" placeholder="Phonenumber" ng-model="login.phone">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="PIN" ng-model="login.pin">
                </label>
            </div>
        </div>
    </div>
    <div class="padding" style="margin-top:20px">
        <button class="button button-positive button-block" style="margin-top:50px" ng-click="loginDo(login)">
            Login
        </button>
    </div>
    <div class="pull-left" style="margin-left:100Px">
        <a href="">Forgot PIN</a> or <a ui-sref="signup">Join Now!</a></div>
</ion-content>
