<ion-header-bar class="bar bar-subheader bar-stable">
    <h1 class="title"> New Reminder</h1>
</ion-header-bar>
<ion-content class="padding" margin="20px">
    <!-- class =row responsive-sm -->
    <div class="card">
        <div class="container">
            <form novalidate class="simple-form">
                <div class="list">
                    <label class="item item-input">
                        <input type="text" placeholder="Medicine Name" ng-required="true" ng-model="drug.name">
                    </label>
                    <label class="item item-input">
                        <input type="time" placeholder="-- : -- --" ng-model="drug.time">
                    </label>
                    <div class="row">
                        <div class="col">
                            <ul class="toggle-btn-group">
                                <li>
                                    <input type="checkbox" name="sun" id="sun" class="accessAid" ng-model="drug.week.sun" />
                                    <label for="sun">Sun</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="mon" id="mon" ng-model="drug.week.mon" />
                                    <label for="mon">Mon</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="tue" id="tue" ng-model="drug.week.tue" />
                                    <label for="tue">Tue</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="wed" id="wed" ng-model="drug.week.wed" />
                                    <label for="wed">Wed</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="thu" id="thu" ng-model="drug.week.thu" />
                                    <label for="thu">Thu</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="fri" id="fri" ng-model="drug.week.fri" />
                                    <label for="fri">Fri</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="sat" id="sat" ng-model="drug.week.sat" />
                                    <label for="sat">Sat</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col">
                             <input type="checkbox" name="morning" id="morning" class="accessAid" ng-model="drug.week.morning" />
                                    <label for="morning">Morning</label>
                                </div>
                                <div class="col">
                                    <input type="checkbox" name="afternoon" id="afternoon" class="accessAid" ng-model="drug.week.afternoon" />
                                    <label for="afternoon">Afternoon</label>
                                </div>
                                <div class="col">
                                    <input type="checkbox" name="night" id="night" class="accessAid" ng-model="drug.week.night" />
                                    <label for="night">Night</label>
                                </div>
                        </div> -->
                    <label class="item item-input">
                        <input type="number" min="0" placeholder="Dosage" ng-model="drug.qty">
                    </label>
                    <div class="padding" style="margin-top:20px">
                        <div class="row">
                            <div class="col">
                                <button class="button button-block button-stable" ui-sref="^.list">Cancel</button>
                            </div>
                            <div class="col">
                                <button class="button button-block button-positive" ng-click="saveDrug(drug)">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
</ion-content>
