<ion-content class="padding">
<div class="card" style="margin-top:50px">
        <div class="container">
            <div class="list">
             <label class="item item-input">
                    <input type="text" placeholder="Name" ng-model="signup.name">
                </label>
                <label class="item item-input">
                    <input type="number" placeholder="Phonenumber" ng-model="signup.phone">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="PIN" ng-model="signup.pin">
                </label>
                                <label class="item item-input">
                    <input type="text" placeholder="Re enter PIN" ng-model="signup.repin">
                </label>
            </div>
        </div>
    </div>
    <div class="padding" style="margin-top:20px">
        <button class="button button-positive button-block" style="margin-top:50px" ng-click="signupCtrl(signup)">
            Login
        </button>
    </div>
</ion-content>