/* Empty. Add your own CSS if you like */
.topmargin{
  margin-top:30px;
}
.wrapper {
	margin-top:90px;
}
.top{
  margin-top:10px;
}

.toggle-btn-group {
	border: 1px solid #ccc;
	border-radius: 4px;

}
 .toggle-btn-group input[type="checkbox"] {
 	position:absolute; left:-999em;	
 }
 
  .toggle-btn-group  li {
  	display: table-cell;
  	padding: 0;
  	margin: 0;

  }

.toggle-btn-group label {
	display: inline-block;
	line-height: 40px;
	min-width: 47px;
  	text-align: center;
  	border-right: 1px solid #ccc;
}

.toggle-btn-group li:last-child label{
	border-right: none;
}
.toggle-btn-group input[type="checkbox"]:checked+label {
  background-color: #b2b2b2;
}

p.biggerfont {
  font-size:27px;
}
p.bigfont{
  font-size:20px;
}
p.biggestfont{
  font-size: 50px;
}
/*
.toggle-btn-group input[type="checkbox"]:focus+label {
  outline: 2px #999 dotted;
}*/